body {
	background-image: radial-gradient(silver, #404040);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: 'Source Code pro';
	color: black;
	font-size: 1rem;
	overflow-y: hidden;
}

a:active {
	color: red;
}

section {
	margin: 26vh;
}

nav {
	top: 0;
	position: fixed;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.navbar {
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	list-style: none;
	padding: 12px 32px;
}

.navbar li a {
	text-decoration: none;
	color: gold;
	text-shadow: 2px -2px 0px black;
}

nav li a:hover {
	color: silver;
	text-shadow: 2px -2px 0px black;
}

.game-text {
	color: mintcream;
	text-shadow: 2px -2px 0px black;
}


#footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1rem;
}

#footer li {
	list-style: none;
	color: mintcream;
	text-shadow: 2px -2px 0px black;
}

#home {
	margin-top: 30vh;
	text-align: center;
	padding: 1.4rem 0rem;
	font-size: 2rem;
}

#home span {
	font-size: 1.4rem;
}

.projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10%;
}

.projects h3 {
	color: white;
	text-align: center;
}

.floating-numbers-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	z-index: -1;
	overflow: hidden;
}

.floating-number {
	position: absolute;
	display: block;
	pointer-events: none;
}

.floating-number {
	position: absolute;
	font-size: 2rem;
	color: black;
	animation: floatingAnimation linear infinite;
}

#glitch-text {
	font-family: 'Source Code Pro';
}

.rotate-text {
	position: relative;
	text-transform: inherit;
	transform-origin: center;
	display: inline-block;
	color: black;
	z-index: -1;
	animation-fill-mode: forwards;
	animation: rotateAnimation 8s ease-in infinite;
}

@keyframes floatingAnimation {
	0% {
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}
	50% {
		transform: translate(10px, 10px) scale(1.2);
		opacity: 0.8;
	}
	100% {
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}
}

@keyframes rotateAnimation {
	0% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(-90deg);
	}
	60% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
